<% include ../header %>

<section class="content">
	<div class="row">

		<div class="col-md-12">
			<article class="widget">
				<header class="widget__header">
					<h3 class="widget__title"><%=ciclo.nome%> &gt; Campanhas</h3>
					<div class="widget__config">
						<a href="/<%=ciclo.url%>/campanha">Nova Campanha</a> | 
						<%if (ciclo.ativo){%>
							<a href="#" id="desativar_ciclo">Desativar Ciclo</a>
						<%}else {%>
							<a href="#" id="ativar_ciclo">Ativar Ciclo</a>
						<%}%>
					</div>
				</header>
				
				<div class="widget__content">
					
					<table class="table">
						<tbody>
							<% for(var i=0; i<campanhas.length; i++) {%>
								<tr>
									<td><%= campanhas[i].nome %></td>
									<td><%= campanhas[i].inicio %></td>
									<td>
										<a href="/<%=ciclo.url%>/campanha?id=<%= campanhas[i].id%>">Alterar</a>
									</td>
								</tr>
							<% } %>
						</tbody>
						<thead>
							<tr>
								<th>Nome</th>
								<th>Início</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
					</table>
				</div>
			</article>
		</div>
	</div>
</section>


<% include ../footer_js %>

<script type="text/javascript">
	$(document).ready(function(){
		window.scope =  { ciclo : { url : "<%=ciclo.url%>" }};
		$("#ativar_ciclo").on( "click", ciclo.ativar );
		$("#desativar_ciclo").on( "click", ciclo.desativar );
	});
</script>

<% include ../footer %>